*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0,0,0,1);
  font-family: 'Poppins', sans-serif;
}
.logo{
  margin-bottom: 15px;
    margin-top: 15px;
}
.nav-links{
   margin-top: 95px;
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.nav-link:hover {
  background-color: #5e5e5e;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  /* font-weight: bold; */
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}


@media screen and (max-width: 1082px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
      font-size: 0.5rem;
        position: fixed;
        left: 0px;
        height: 60vh;
        top: -1vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        opacity: 90%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
      margin-left: 3%;
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}






.round {
  align-items: center;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  display: inline-block;
  margin: 3%;
}

.loe {
  padding-left: 6%;
  padding-top: 90px;
  padding-bottom: 140px;
}

.logocut {
  height: 60%;
  width: 60%;
  margin-top: 25px;
  margin-left: 10px;
}

.leadership {
  background-color: #a9a9a9;
}

.engg {
  background-color: #595377;
}
.outreach{
  background-color: #dbc555;

}

.round:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* .logo-purple {
  wi
} */

.loe-title-leadership {
  position: relative;
  bottom: 5.5rem;
  left: 1.7rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 3.1rem;
  font-weight: 1000;
  color: white;
}
.loe-title-engineering{
  position: relative;
  bottom: 5.5rem;
  left: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 3.1rem;
  font-weight: 1000;
  color: white;
}
.loe-title-outreach{
  text-align: center;
  position: relative;
  bottom: 5.5rem;
  left: 0.3rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 1000;
  color: white;
}


@media screen and (max-width: 1200px) {
  .logo{
    margin-bottom: 10px;
      margin-top: 10px;
      margin-right: 20px;
      margin-left: 10px;
  }
  .d-inline-block1{
    width: 60%;
    height: 40%;
  }
  .d-inline-block2{
    width: 60%;
    height: 40%;
  }


  .round {

    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    margin: 2%;
    margin-left: 2%;
  }

  .loe-title-leadership {
    position: relative;
    bottom: 0.7rem;
    left: 0.35rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 1000;
    color: white;
  }
  .loe-title-engineering{
    position: relative;
    bottom: 0.7rem;
    left: 0.35rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 1000;
    color: white;
  }
  .loe-title-outreach{
    text-align: center;
    position: relative;
    bottom: 0.7rem;
    left: 0.05rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 1000;
    color: white;
  }
  .loe {
    padding-left: 0.1%;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    margin-left: 10%;
  }
  .logocut {
    height: 60%;
    width: 60%;
    margin-top: 7.5%;
    margin-left: 2.5%;
  }
  
  #photo-slider{
  width: 70%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 4rem;
}
}



.btn-read-more {
  font-weight: bold;
  position: relative;
  bottom: 5rem;
  top: 40%;
  left: 9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #a9a9a9;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}




#photo-slider{
  justify-content: center;
  width: 50%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 4rem;
}
.carousel-caption{
  font-size: 1rem;
}


/* .card{
  margin-left: 70%;
  position: absolute;
  bottom: -270%;
  margin-bottom: 4rem;
  margin-right: 10%;
} */

/* Footer Section */
#footer {
  text-align: center;
  text-size: 0.6rem;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: -50px;
  background-color: #a9a9a9;

}

.social-icon {
  margin-left: 5px;
  margin-right: 5px;
}
